.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #31a973; /* A calm green for the ayurvedic theme */
  position: relative;
}

#logo {
  width: 100px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

/* Default to hide hamburger on larger screens */
.hamburger {
  display: none;
}

/* Responsive design: smaller screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #31a973;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  /* Hamburger icon styling */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
  }
}
